/* CSS reset */
a,abbr,address,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,label,legend,li,object,ol,p,pre,q,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,ul{border:0;margin:0;padding:0}article,aside,figcaption,figure,figure img,footer,header,hgroup,nav,object,section,video{display:block}a img{border:0}figure{position:relative}figure img{width:100%}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
figure { margin: 0; }



/* --- Base: Generic --- */
body, html {
  width: 100%;
  height: 100%;

  font-size: 100%;
  font-family: "Karla", Arial, sans-serif;
  font-kerning: normal;
  line-height: 1.5em;

  color: #4a4e59;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
p {
  max-width: 45rem;
}
p.extra {
  margin-top: 1.5rem;
  display: none;
}
p.extra.isVisible {
  display: block;
}
h4 {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: normal;
  opacity: 0.5;
  text-align: center;
}
::selection {
  background-color: #4a4e59;
  color: #fff;
}
hr {
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.25);
}



/* --- Base: Grid --- */
.row {
  max-width: 1100px;
  margin: 0 auto;
}
.row-internalpadding {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}



/* --- Base: Utilities --- */
.u-mv20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.u-mv50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.u-mh5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.u-ml10 {
  margin-left: 10px !important;
}
.u-ml20 {
  margin-left: 20px !important;
}
.u-mt10 {
  margin-top: 10px !important;
}
.u-mt20 {
  margin-top: 20px !important;
}
.u-mt50 {
  margin-top: 50px !important;
}
.u-mb10 {
  margin-bottom: 10px !important;
}
.u-mb20 {
  margin-bottom: 20px !important;
}
.u-mb50 {
  margin-bottom: 50px !important;
}
.u-mr20 {
  margin-right: 20px !important;
}
.u-pa40 {
  padding: 40px !important;
}
.u-pt20 {
  padding-top: 20px !important;
}
.u-pb20 {
  padding-bottom: 20px !important;
}
.u-pb40 {
  padding-bottom: 40px !important;
}
.u-pv20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.u-pv40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.u-ph20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.u-width100 {
  width: 100px !important;
}
.u-width25p {
  width: 25% !important;
}
.u-width50p {
  width: 50% !important;
}
.u-block {
  display: block !important;
}
.u-inlineblock {
  display: inline-block !important;
}
.u-hide {
  display: none !important;
}
.u-floatleft {
  display: inline-block !important;
  float: left !important;
}
.u-floatright {
  display: inline-block !important;
  float: right !important;
}
.u-alignleft {
  text-align: left;
}
.u-aligncenter {
  text-align: center;
}
.u-alignright {
  text-align: right;
}
.u-flex-center {
  -webkit-display: flex;
  display: flex;
  align-items: center;
}
.u-flex-space-between {
  -webkit-display: flex;
  display: flex;
  justify-content: space-between;
}
.u-rounded-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.u-opacity30 {
  opacity: 0.3;
}
.u-opacity50 {
  opacity: 0.5;
}
.u-opacity70 {
  opacity: 0.7;
}



/* --- Base: Colours --- */
.c-green {
  color: #9bc4b1;
}
.c-white {
  color: #fff;
}



/* --- Base: Icons --- */
.ion-15x {
  font-size: 1.5em;
}
.ion-2x {
  font-size: 2em;
}
.ion-3x {
  font-size: 3em;
}



/* --- Base: Figure --- */
figure {
  display: inline-block;
  width: auto;
  max-width: 100%;
}



/* --- Element: Button --- */
.button {
  display: inline-block;
  padding: 8px 20px;
  background-color: #4a4e59;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  line-height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: inherit;
  cursor: pointer;
}
.button--large {
  height: 3rem;
  font-weight: bold;
}
.button--outline {
  background-color: transparent;
  border-color: #4a4e59;
  color: #4a4e59;
}
.button--white {
  background-color: #fff;
  color: #4a4e59;
}
.button--small {
  padding: 5px 10px;
}
.button--primary {
  background-color: #4a4e59;
}
.button--primary:hover {
  background-color: #33363d;
}
.button.isWorking, .button.isComplete {
  position: relative;
  overflow: hidden;
  border-color: transparent !important;
}
.button.isWorking:before {
  content: "";
  position: absolute; 
  top: 0; left: 0; right: 0; bottom: 0; 
  background-color: #6f7b80;
}
.button.isWorking:after {
  content: "\f29c";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  padding-top: 8px;
  font-family: "Ionicons";
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  -webkit-animation: spinning 1s infinite linear;
  -moz-animation: spinning 1s infinite linear;
  animation: spinning 1s infinite linear;
}
@-webkit-keyframes spinning {
  from { -webkit-transform: rotate(0); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinning {
  from { -moz-transform: rotate(0); }
    to { -moz-transform: rotate(360deg); }
}
@keyframes spinning {
  from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

.button.isComplete:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9bc4b1;
}
.button.isComplete:after {
  content: "\f3fd";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  padding-top: 8px;
  font-family: "Ionicons";
  color: #fff;
  text-align: center;
  font-size: 3em;
  font-weight: normal;
}



/* --- Element: Field --- */
.field {
  display: block;
  padding: 1rem;
  width: 100%;
  background-color: rgba(74, 78, 89, 0.05);
  border: 2px solid transparent;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  font: inherit;
  color: inherit;
  font-size: 1.125em;
  line-height: 1.333333em;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.field:hover {
  border-color: #9bc4b1;
}
.field:active, .field:focus {
  border-color: #4a4e59;
  outline: none;
}
.field::-webkit-input-placeholder {
  color: rgba(74, 78, 89, 0.4);
}
.field:-moz-placeholder {
  color: rgba(74, 78, 89, 0.4);
}
.field::-moz-placeholder {
  color: rgba(74, 78, 89, 0.4);
}
.field:-ms-input-placeholder {  
  color: rgba(74, 78, 89, 0.4);
}
.field.error {
  border-color: #e8893c;
}
.field--label {
  color: #9bc4b1;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  margin-left: 1rem;
}
.field--label.required:after {
  content: "*";
  color: #e8893c;
  font-size: 1.25rem;
}
.field--checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}
.field--checkbox + label {
  cursor: pointer;
}
.field--checkbox + label:before {
  content: "\f372";
  display: inline-block;
  float: left;
  margin-right: 1rem;
  font-family: "Ionicons";
  font-size: 1.5em;
}
.field--checkbox:checked + label:before {
  content: "\f374";
}
.field--checkbox#location + label:before {
  font-size: 1.2em;
}
.form__message {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: rgba(74, 78, 89, 0.05);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.form__message:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 1rem;
  border: 0.5rem solid transparent;
  border-bottom-color: rgba(74, 78, 89, 0.05);
}
.form__message.form__error {
  background-color: #e8893c;
  color: #fff;
}
.form__message.form__error:before {
  border-bottom-color: #e8893c;
}
.form__message.form__success {
  background-color: #9bc4b1;
  color: #fff;
}
.form__message.form__success:before {
  border-bottom-color: #9bc4b1;
}



/* --- Component: Logo */
.logo {
  position: fixed;
  top: 0;
  left: 20px;
  z-index: 5;
}
.logo img {
  max-width: 150px;
  max-height: 200px;
}
.logo img.logo__img-small {
  width: 80px;
}
.logo img.logo__img-medium {
  width: 120px;
}
.logo img.logo__img-large {
  width: 150px;
}



/* --- Component: Nav */
nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  list-style: none;
  padding: 20px;
  text-align: right;
}
nav a {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0;
  background-color: #eee;
  overflow: hidden;
  font-size: 0;
  line-height: 20px;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul:hover a,
nav a.isActive {
  padding: 0 10px;
  font-size: 1em;
  color: #4a4e59;
}
nav ul a:hover {
  background-color: #b1b2b3;
}
nav a.isActive {
  background-color: #4a4e59 !important; /* 9bc4b1 */
  color: #fff !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
/* Menu on small screens */
@media only screen and (max-width: 768px) {
  nav {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(100%, rgba(74, 78, 89, 0.5)));
    background: -webkit-linear-gradient(left, transparent, rgba(74, 78, 89, 0.5));
    background: -moz-linear-gradient(left, transparent, rgba(74, 78, 89, 0.5));
    background: -ms-linear-gradient(left, transparent, rgba(74, 78, 89, 0.5));
    background: -o-linear-gradient(left, transparent, rgba(74, 78, 89, 0.5));
    background: linear-gradient(to right, transparent, rgba(74, 78, 89, 0.5));
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    transform: translateX(150px);
  }
  nav.isActive {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  nav a {
    padding: 0 10px;
    font-size: 1em;
    color: #4a4e59;
  }
}
.nav-toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .nav-toggle {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    text-align: center;
    color: #fff;
  }
  .nav-toggle .ion {
    // text-shadow: 0 0 1px black;
  }
}


/* --- Component: Dialog --- */
.dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: scroll;
  pointer-events: none;
}
.dialog-wrapper.isVisible {
  pointer-events: all;
}
.dialog-spacer {
  height: 50px;
  height: calc(30px + 10vw);
}
.dialog {
  position: relative;
  top: 0;
  left: 0;
  z-index: 12;
  display: block;
  width: 900px;
  max-width: 90vw;
  margin: 50px auto;
  padding: 1rem;
  background-color: #fff;
  border: none;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  opacity: 0;
  color: inherit;
  pointer-events: none;
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  transform: translateY(150px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  .dialog {
    padding: 0.5rem;
  }
}
.dialog.isVisible {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}
#dialog_mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #4a4e59;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
#dialog_mask.isVisible {
  opacity: 0.85;
  pointer-events: all;
}


/* --- Component: Owl Carousel --- */
.owl-carousel-rounded {
  position: relative;
  z-index: 4;
  background-color: #dadbe5;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.owl-carousel.owl-loaded {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav {
    display: none;
  }
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.mfp-arrow-left,
.mfp-arrow-right {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.25) !important;
  line-height: 40px;
  text-align: center;
  pointer-events: all;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.owl-carousel .owl-nav .owl-prev {
  -webkit-transform: translateX(-60px);
  -moz-transform: translateX(-60px);
  transform: translateX(-60px);
}
.owl-carousel .owl-nav .owl-next {
  -webkit-transform: translateX(60px);
  -moz-transform: translateX(60px);
  transform: translateX(60px);
}
.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}
.owl-carousel:hover .owl-nav .owl-prev:active,
.owl-carousel:hover .owl-nav .owl-next:active {
  background-color: #4a4e59;
}
.owl-carousel figure,
.owl-carousel img {
  display: block;
}



/* --- Component: Diagram --- */
.diagram,
.diagram svg .stage1,
.diagram svg .stage2,
.diagram svg .stage3 {
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  transform-origin: top center;
}
/* Show/hide */
.diagram svg .stage1,
.diagram svg .stage2,
.diagram svg .stage3 {
  opacity: 0;
}
.diagram.diagram--stage1 svg .stage1,
.diagram.diagram--stage2 svg .stage2,
.diagram.diagram--stage3 svg .stage3 {
  opacity: 1;
}
/* Scale */
.diagram.diagram--stage1 {
  transform: scale(1.5) translateX(10%);
  // stroke-width: 1.5;
}
.diagram.diagram--stage2 {
  transform: scale(1) translateX(10%);
  // stroke-width: 2;
}
.diagram.diagram--stage3 {
  transform: scale(0.9);
  // stroke-width: 3;
}


/* --- Component: Section --- */
.section {
  position: relative;
  padding: 2vw 0 16vw;
}
@media only screen and (max-width: 768px) {
  .section {
    padding: 4rem 0 4rem;
  }
}
.section .section__curve,
.dialog .section__curve {
  position: absolute;
  bottom: calc(100% - 1px);
  left: 0;
  width: 100vw;
  pointer-events: none;
}
.section .section__curve.section__curve--flipped,
.dialog .section__curve.section__curve--flipped {
  transform: scaleX(-1);
}
.section .section__curve .st0,
.dialog .section__curve .st0 {
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  // -webkit-filter: drop-shadow( -5px -5px 5px #000 );
  // filter: drop-shadow( -5px -5px 5px #000 );
}
@media only screen and (max-width: 768px) {
  .section__content {
    max-width: 100%;
    overflow: hidden;
  }
}



/* --- Component: Gallery --- */
.gallery {
}
.gallery__indent {
  margin-left: 12.4995%;
}
.gallery__image {
  display: block;
  padding: 10px 20px;
}
.gallery__image:focus {
  outline: none;
}
@media only screen and (max-width: 768px) {
  .gallery__indent {
    margin-left: 0;
  }
  .gallery__indent--xs {
    margin-left: 25%;
  }
  .gallery__image {
    padding: 5px;
  }
}
.mfp-arrow-left,
.mfp-arrow-right {
  color: #fff;
  font-size: 1.5rem;
}
.mfp-arrow-left:before,
.mfp-arrow-right:before,
.mfp-arrow-left:after,
.mfp-arrow-right:after {
  display: none !important;
}



/* --- Component: Boxes --- */
.boxes {
}
.boxes .boxes__box {
  background-color: #fff;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 1rem;
  margin-bottom: 2rem;
}
.boxes .boxes__box ul {
  margin-left: 20px;
  line-height: 1.8rem;
}



/* --- Component: Footer --- */
footer {
  background-color: #4a4e59;
  color: #fff;
}
footer a {
  color: #9bc4b1;
}



/* Typed JS plugin */
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-weight: bold;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}



/* --- Content-specific: #verhaal --- */
#verhaal {
  padding-top: 0;
}
#verhaal .verhaal__text {
  padding-top: 25vh;
  padding-bottom: 25vh;
}



/* --- Content-specific: #top (intro) --- */
.section-intro {
  background-image: url('../images/intro_bg.svg');
  background-size: cover;
  padding-top: 15vw;
  padding-bottom: 15vw;
  background-position: 0 100%;

  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0;
}
@media only screen and (max-width: 768px) {
  .section-intro {
    padding-top: 8rem;
  }
}
body.isLoaded .section-intro {
  background-position: 0;

  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .section-intro .owl-carousel-rounded {
    margin-top: -70px;
    margin-bottom: -200px;
  }
}




/* --- Content-specific: #over-ons --- */
#over-ons {
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
body.isLoaded #over-ons {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}



/* --- Content-specific: #inbetween (image) --- */
.section-image {
  margin-top: -8vw;
  padding: 0 !important;
}
.section-image .section__curve {
  display: none !important;
}
#inbetween {
  position: relative;
  height: 50%;
  height: 50vw;
  background-image: url('../images/switch1-original.jpg');
  background-size: cover;
  background-position: center center;
}
#inbetween:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  height: 300px;
  height: 20vw;
  background-image: url('../images/anticurve-green.svg');
  background-size: 110%;
  background-position: 3% 0;
  background-repeat: no-repeat;
  z-index: 2;
}



/* --- Content-specific: #contact --- */
#contact {
  padding-top: 3vw;
  padding-bottom: 10vw;
}



/* --- Content-specific: #offer form/questions --- */
.offer__estimate {
  padding: 0.5rem 2rem;
  background-color: rgba(74, 78, 89, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .offer__estimate {
    padding: 0.5rem;
  }
}
.offer__estimate.isActive {
  background-color: #6f7b80;
}
.offer__estimate h4 {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
}
.offer__estimate strong {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
#offer_price {
  background: none;
  border: none;
  font: inherit;
  font-size: 1.25rem;
  min-width: 0;
  width: 100px;
  color: inherit;
  text-align: center;
}
.question__box {
  padding: 1rem 0.5rem;
  background-color: rgba(74, 78, 89, 0.05);
  border: 2px solid transparent;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.125em;
  line-height: 1.333333em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.question--selected .question__box {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: transparent;
  border-color: rgba(74, 78, 89, 0.1);
}
.question--selected .question__button {
  border-color: transparent;
}

.question__box--content {
  display: flex;
  align-items: center;
}

.question__button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-width: 2px;
  border-color: #9bc4b1;
  color: #4a4e59;
  font-size: 0.875rem;
  font-weight: bold;
}
.question__button:hover, .question__button:focus {
  border-color: #4a4e59;
  outline: none;
}
.question__button:active,
.question__button--selected {
  background-color: #9bc4b1;
  border-color: transparent !important;
  color: #fff;
  outline: none;
}
.question__button small {
  display: block;
  opacity: 0.5;
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-weight: normal;
}



/* --- Offer form: Uniform plugin code --- */
.uniform__potty {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

